[submodule "ext/gitolite"]
	path = ext/gitolite
	url = git@github.com:sitaramc/gitolite.git
[submodule "ext/git"]
	path = ext/git
	url = git@github.com:schacon/ruby-git.git
[submodule "lib/tidbits"]
	path = lib/tidbits
	url = git@github.com:najamelan/TidBits_Ruby.git
